<!-- header -->
<a name="top" id="top"></a>
		
<div id="header_wrap">
	<div class="container">
		<div id="top_bar">
			<strong class="catch">{{ site.catch }}</strong><p id="site_description">{{ site.catch_description }}</p>
		</div>
		<div id="header" class="clearfix">
			<div class="row">
				<div id="header_logo" class="col-xs-12 col-sm-6 col-md-5">
					<p class="site_title">
					<a href="http://store.vivian.jp/">ViVian Lady<span style="color:red">通販</span></a>
					</p>
					<div class="header_comment">乗換え割り・ママ割り・学割特典がお得♪
					</div>
				</div>
				<div id="header_member" class="col-xs-12 col-sm-6 col-md-7">
					<div id="header_infomation" class="col-xs-12 col-sm-12 col-md-4">
					</div>
					<div id="header_navi" class="col-xs-12 col-sm-12 col-md-8">
						<div>
							<a href="http://px.a8.net/svt/ejp?a8mat=2BYEK9+4D83WA+1SZ6+64C3L" target="_blank">
							<img border="0" width="234" height="60" alt="" src="http://www28.a8.net/svt/bgt?aid=141013305264&wid=078&eno=01&mid=s00000008421001028000&mc=1"></a>
							<img border="0" width="1" height="1" src="http://www19.a8.net/0.gif?a8mat=2BYEK9+4D83WA+1SZ6+64C3L" alt="">
						</div>
						<ul class="account_list list-inline">
							<li>
								<a href="http://store.vivian.jp/page-about/">
								<i class="fa fa-caret-right"></i>当サイトについて
								</a>
							</li>
							<li>
								<a rel="sidebar" href="http://store.vivian.jp/" title="ViVian Lady カラコン通販"><i class="fa fa-bookmark"></i> お気に入り登録</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /header -->

<div id="container" class="clearfix">
	<div id="topcol">
		<div class="block_outer">
			<div id="pull_down_nav">
				<nav class="navbar navbar-default" role="navigation">
				<div class="container">
					<div class="row">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand visible-xs">メニュー</a>
						</div>
						<div class="collapse navbar-collapse" id="bs-navbar-collapse-1"><ul class="nav navbar-nav"><li><a  class="dropdown-toggle" href="http://store.vivian.jp/#category_box">カテゴリー一覧</a></li><li><a  class="dropdown-toggle" href="http://store.vivian.jp/colorcon-doari/">度ありカラコン</a></li><li><a  class="dropdown-toggle" href="http://store.vivian.jp/colorcon-donashi/">度なしカラコン</a></li><li><a  class="dropdown-toggle" href="http://store.vivian.jp/colorcon-1month/">1か月カラコン</a></li><li><a  class="dropdown-toggle" href="http://store.vivian.jp/colorcon-1day/">1日カラコン</a></li></ul>
					</div>
				</div>
			</div>
			</nav>
		</div>
	</div>
</div>
